[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Dummy01
B_bone01
B_bone02
B_bone03
B_bone04
B_bone05
B_bone06
B_bone07
B_bone08
B_bone29
B_bone30
B_bone31
B_bone32
E_Foot_R
B_bone25
B_bone26
B_bone27
B_bone28
E_Foot_L
E_Spine
B_bone09
B_bone10
B_bone11
B_bone12
E_Tail
B_bone21
B_bone22
B_bone23
B_bone24
B_bone17
B_bone18
B_bone19
B_bone20
B_bone13
B_bone14
B_bone15
B_bone16
B_bone33
B_bone34
B_bone35
B_bone36
B_bone37
B_bone38
B_bone39
B_bone40
B_bone41
B_bone42
B_bone43
B_bone44
