[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
DemonBat_
DemonBat_-Pelvis
DemonBat_-Spine
DemonBat_-Spine1
DemonBat_-Neck
DemonBat_-Head
DemonBat_-Ponytail1
DemonBat_-Ponytail11
DemonBat_-Ponytail12
DemonBat_JawUpperRight
DemonBat_JawUpperLeft
DemonBat_JawLowerRight
DemonBat_JawLowerLeft
DemonBat_-R-Clavicle
DemonBat_-R-UpperArm
DemonBat_-R-Forearm
DemonBat_-R-Hand
DemonBat_-R-Finger0
DemonBat_-R-Finger01
DemonBat_-R-Finger02
DemonBat_-R-Finger1
DemonBat_-R-Finger11
DemonBat_-R-Finger12
DemonBat_-R-Finger13
DemonBat_-R-Finger2
DemonBat_-R-Finger21
DemonBat_-R-Finger22
DemonBat_-R-Finger23
DemonBat_-R-Finger3
DemonBat_-R-Finger31
DemonBat_-R-Finger32
DemonBat_-R-Finger33
DemonBat_-R-Finger4
DemonBat_-R-Finger41
DemonBat_-R-Finger42
DemonBat_-R-Finger43
DemonBat_-L-Clavicle
DemonBat_-L-UpperArm
DemonBat_-L-Forearm
DemonBat_-L-Hand
DemonBat_-L-Finger0
DemonBat_-L-Finger01
DemonBat_-L-Finger02
DemonBat_-L-Finger1
DemonBat_-L-Finger11
DemonBat_-L-Finger12
DemonBat_-L-Finger13
DemonBat_-L-Finger2
DemonBat_-L-Finger21
DemonBat_-L-Finger22
DemonBat_-L-Finger23
DemonBat_-L-Finger3
DemonBat_-L-Finger31
DemonBat_-L-Finger32
DemonBat_-L-Finger33
DemonBat_-L-Finger4
DemonBat_-L-Finger41
DemonBat_-L-Finger42
DemonBat_-L-Finger43
DemonBat_-Tail
DemonBat_-Tail1
DemonBat_-Tail2
DemonBat_-Tail3
DemonBat_-Tail4
DemonBat_-Tail5
DemonBat_-Tail6
DemonBat_-Tail7
DemonBat_-Tail8
DemonBat_-R-Thigh
DemonBat_-R-Calf
DemonBat_-R-Foot
DemonBat_-R-Toe0
DemonBat_-R-Toe01
DemonBat_-R-Toe1
DemonBat_-R-Toe11
DemonBat_-R-Toe2
DemonBat_-R-Toe21
DemonBat_-R-Toe3
DemonBat_-R-Toe31
DemonBat_-L-Thigh
DemonBat_-L-Calf
DemonBat_-L-Foot
DemonBat_-L-Toe0
DemonBat_-L-Toe01
DemonBat_-L-Toe1
DemonBat_-L-Toe11
DemonBat_-L-Toe2
DemonBat_-L-Toe21
DemonBat_-L-Toe3
DemonBat_-L-Toe31
