[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root_unreal
ik_hand_root
ik_hand_gun
ik_hand_l
ik_hand_r
Root_M
Spine1_M
Chest_M
Scapula_R
Shoulder_R
ShoulderPart1_R
ShoulderPart2_R
Elbow_R
ElbowPart1_R
ElbowPart2_R
Wrist_R
ThumbFinger1_R
ThumbFinger2_R
ThumbFinger3_R
IndexFinger0_R
IndexFinger1_R
IndexFinger2_R
IndexFinger3_R
RingFinger0_R
RingFinger1_R
RingFinger2_R
RingFinger3_R
PinkyFinger0_R
PinkyFinger1_R
PinkyFinger2_R
PinkyFinger3_R
MiddleFinger0_R
MiddleFinger1_R
MiddleFinger2_R
MiddleFinger3_R
weapon_R
Scapula_L
Shoulder_L
ShoulderPart1_L
ShoulderPart2_L
Elbow_L
ElbowPart1_L
ElbowPart2_L
Wrist_L
ThumbFinger1_L
ThumbFinger2_L
ThumbFinger3_L
IndexFinger0_L
IndexFinger1_L
IndexFinger2_L
IndexFinger3_L
RingFinger0_L
RingFinger1_L
RingFinger2_L
RingFinger3_L
PinkyFinger0_L
PinkyFinger1_L
PinkyFinger2_L
PinkyFinger3_L
MiddleFinger0_L
MiddleFinger1_L
MiddleFinger2_L
MiddleFinger3_L
weapon_L
